In [1]:
# importing libraries 
import pandas as pd
import numpy as np

In [2]:
#loading dataset
df=pd.read_csv(r"C:\Users\mohan reddy\OneDrive\Desktop\self project\Financial_Data_Analysis.csv")
df

,Customer_ID,Gender,Age,Region,Account_Type,Transaction_Date,Transaction_Type,Amount,Loan_Status,Credit_Score
0,11177,Male,59,East,Current,2024-12-31,Withdrawal,NaN,Approved,460
1,14771,Female,21,East,Current,2023-02-16,EMI,76739.0,Rejected,749
2,11091,Female,66,North,Current,2023-09-30,Deposit,66039.0,Rejected,490
3,14818,Female,24,North,Current,2023-06-11,Withdrawal,50101.0,Rejected,431
4,14376,Male,34,West,Current,2023-05-26,EMI,35319.0,Rejected,315
...,...,...,...,...,...,...,...,...,...,...
5145,14427,Male,67,NaN,Current,2024-05-13,Withdrawal,62609.0,Rejected,856
5146,10467,Female,34,NaN,Current,2024-10-03,EMI,25459.0,Approved,506
5147,13093,Male,56,South,Savings,2023-10-20,Loan,34749.0,Rejected,593
5148,13773,Female,43,North,Savings,2023-02-20,Loan,15897.0,Approved,870
5149,10861,Female,40,North,Current,2023-07-08,Withdrawal,90443.0,Rejected,367

In [15]:
df.shape

(5150, 10)

In [3]:
#checking null values
df.isnull().sum()

Customer_ID           0
Gender                0
Age                   0
Region              257
Account_Type          0
Transaction_Date      0
Transaction_Type      0
Amount              254
Loan_Status         257
Credit_Score          0
dtype: int64

In [9]:
#replacing null values with zero
df=df.fillna(0)
df

,Customer_ID,Gender,Age,Region,Account_Type,Transaction_Date,Transaction_Type,Amount,Loan_Status,Credit_Score
0,11177,Male,59,East,Current,2024-12-31,Withdrawal,0.0,Approved,460
1,14771,Female,21,East,Current,2023-02-16,EMI,76739.0,Rejected,749
2,11091,Female,66,North,Current,2023-09-30,Deposit,66039.0,Rejected,490
3,14818,Female,24,North,Current,2023-06-11,Withdrawal,50101.0,Rejected,431
4,14376,Male,34,West,Current,2023-05-26,EMI,35319.0,Rejected,315
...,...,...,...,...,...,...,...,...,...,...
5145,14427,Male,67,0,Current,2024-05-13,Withdrawal,62609.0,Rejected,856
5146,10467,Female,34,0,Current,2024-10-03,EMI,25459.0,Approved,506
5147,13093,Male,56,South,Savings,2023-10-20,Loan,34749.0,Rejected,593
5148,13773,Female,43,North,Savings,2023-02-20,Loan,15897.0,Approved,870
5149,10861,Female,40,North,Current,2023-07-08,Withdrawal,90443.0,Rejected,367

In [10]:
#after removing null values
df.isnull().sum()

Customer_ID         0
Gender              0
Age                 0
Region              0
Account_Type        0
Transaction_Date    0
Transaction_Type    0
Amount              0
Loan_Status         0
Credit_Score        0
dtype: int64

In [12]:
#checking duplicates
duplicates=df.duplicated().sum()
print(duplicates)

150

In [19]:
# drop the duplicates
df=df.drop_duplicates()
df

,Customer_ID,Gender,Age,Region,Account_Type,Transaction_Date,Transaction_Type,Amount,Loan_Status,Credit_Score
0,11177,Male,59,East,Current,2024-12-31,Withdrawal,0.0,Approved,460
1,14771,Female,21,East,Current,2023-02-16,EMI,76739.0,Rejected,749
2,11091,Female,66,North,Current,2023-09-30,Deposit,66039.0,Rejected,490
3,14818,Female,24,North,Current,2023-06-11,Withdrawal,50101.0,Rejected,431
4,14376,Male,34,West,Current,2023-05-26,EMI,35319.0,Rejected,315
...,...,...,...,...,...,...,...,...,...,...
5145,14427,Male,67,0,Current,2024-05-13,Withdrawal,62609.0,Rejected,856
5146,10467,Female,34,0,Current,2024-10-03,EMI,25459.0,Approved,506
5147,13093,Male,56,South,Savings,2023-10-20,Loan,34749.0,Rejected,593
5148,13773,Female,43,North,Savings,2023-02-20,Loan,15897.0,Approved,870
5149,10861,Female,40,North,Current,2023-07-08,Withdrawal,90443.0,Rejected,367

In [18]:
df.shape

(5000, 10)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 5149
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       5000 non-null   int64
 1   Gender            5000 non-null   object
 2   Age               5000 non-null   int64
 3   Region            5000 non-null   object
 4   Account_Type      5000 non-null   object
 5   Transaction_Date  5000 non-null   object
 6   Transaction_Type  5000 non-null   object
 7   Amount            5000 non-null   float64
 8   Loan_Status       5000 non-null   object
 9   Credit_Score      5000 non-null   int64
dtypes: float64(1), int64(3), object(6)
memory usage: 429.7+ KB

In [21]:
df.describe()

        Customer_ID          Age        Amount  Credit_Score
count   5000.000000  5000.000000   5000.000000   5000.000000
mean   12500.500000    43.420800  47579.822400    601.031800
std     1443.520003    14.901159  30080.627483    174.599962
min    10001.000000    18.000000      0.000000    300.000000
25%    11250.750000    31.000000  20692.000000    448.000000
50%    12500.500000    43.000000  47335.000000    604.000000
75%    13750.250000    56.000000  73935.500000    754.000000
max    15000.000000    69.000000  99987.000000    899.000000

In [24]:
#converting date column
df["Transaction_Date"]=pd.to_datetime(df["Transaction_Date"])

In [27]:
#adding transaction year,month,day
df["year"]=df["Transaction_Date"].dt.year
df["month"]=df["Transaction_Date"].dt.month
df["day"]=df["Transaction_Date"].dt.day
df

,Customer_ID,Gender,Age,Region,Account_Type,Transaction_Date,Transaction_Type,Amount,Loan_Status,Credit_Score,year,month,day
0,11177,Male,59,East,Current,2024-12-31,Withdrawal,0.0,Approved,460,2024,12,31
1,14771,Female,21,East,Current,2023-02-16,EMI,76739.0,Rejected,749,2023,2,16
2,11091,Female,66,North,Current,2023-09-30,Deposit,66039.0,Rejected,490,2023,9,30
3,14818,Female,24,North,Current,2023-06-11,Withdrawal,50101.0,Rejected,431,2023,6,11
4,14376,Male,34,West,Current,2023-05-26,EMI,35319.0,Rejected,315,2023,5,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5145,14427,Male,67,0,Current,2024-05-13,Withdrawal,62609.0,Rejected,856,2024,5,13
5146,10467,Female,34,0,Current,2024-10-03,EMI,25459.0,Approved,506,2024,10,3
5147,13093,Male,56,South,Savings,2023-10-20,Loan,34749.0,Rejected,593,2023,10,20
5148,13773,Female,43,North,Savings,2023-02-20,Loan,15897.0,Approved,870,2023,2,20
5149,10861,Female,40,North,Current,2023-07-08,Withdrawal,90443.0,Rejected,367,2023,7,8

In [29]:
#add age group
df["age_group"]=pd.cut(df["Age"],
                      bins=[0, 25, 40, 60, 100],
                      labels=["young", "adult", "middle_age", "senior"])
df

,Customer_ID,Gender,Age,Region,Account_Type,Transaction_Date,Transaction_Type,Amount,Loan_Status,Credit_Score,year,month,day,age_group
0,11177,Male,59,East,Current,2024-12-31,Withdrawal,0.0,Approved,460,2024,12,31,middle_age
1,14771,Female,21,East,Current,2023-02-16,EMI,76739.0,Rejected,749,2023,2,16,young
2,11091,Female,66,North,Current,2023-09-30,Deposit,66039.0,Rejected,490,2023,9,30,senior
3,14818,Female,24,North,Current,2023-06-11,Withdrawal,50101.0,Rejected,431,2023,6,11,young
4,14376,Male,34,West,Current,2023-05-26,EMI,35319.0,Rejected,315,2023,5,26,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5145,14427,Male,67,0,Current,2024-05-13,Withdrawal,62609.0,Rejected,856,2024,5,13,senior
5146,10467,Female,34,0,Current,2024-10-03,EMI,25459.0,Approved,506,2024,10,3,adult
5147,13093,Male,56,South,Savings,2023-10-20,Loan,34749.0,Rejected,593,2023,10,20,middle_age
5148,13773,Female,43,North,Savings,2023-02-20,Loan,15897.0,Approved,870,2023,2,20,middle_age
5149,10861,Female,40,North,Current,2023-07-08,Withdrawal,90443.0,Rejected,367,2023,7,8,adult

In [30]:
# add amount category
df["amount_levl"]=pd.cut(df["Amount"],
                        bins=[-1, 10000, 50000, 100000, 2000000],
                        labels=["low", "medium", "high", "very high"])
df

,Customer_ID,Gender,Age,Region,Account_Type,Transaction_Date,Transaction_Type,Amount,Loan_Status,Credit_Score,year,month,day,age_group,amount_levl
0,11177,Male,59,East,Current,2024-12-31,Withdrawal,0.0,Approved,460,2024,12,31,middle_age,low
1,14771,Female,21,East,Current,2023-02-16,EMI,76739.0,Rejected,749,2023,2,16,young,high
2,11091,Female,66,North,Current,2023-09-30,Deposit,66039.0,Rejected,490,2023,9,30,senior,high
3,14818,Female,24,North,Current,2023-06-11,Withdrawal,50101.0,Rejected,431,2023,6,11,young,high
4,14376,Male,34,West,Current,2023-05-26,EMI,35319.0,Rejected,315,2023,5,26,adult,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5145,14427,Male,67,0,Current,2024-05-13,Withdrawal,62609.0,Rejected,856,2024,5,13,senior,high
5146,10467,Female,34,0,Current,2024-10-03,EMI,25459.0,Approved,506,2024,10,3,adult,medium
5147,13093,Male,56,South,Savings,2023-10-20,Loan,34749.0,Rejected,593,2023,10,20,middle_age,medium
5148,13773,Female,43,North,Savings,2023-02-20,Loan,15897.0,Approved,870,2023,2,20,middle_age,medium
5149,10861,Female,40,North,Current,2023-07-08,Withdrawal,90443.0,Rejected,367,2023,7,8,adult,high

In [32]:
#Add Transaction Flag (Debit / Credit)
df['Txn_Flow'] = np.where(df['Transaction_Type'].isin(["Withdrawal", "EMI"]), 
                          "Debit", "Credit")
df

,Customer_ID,Gender,Age,Region,Account_Type,Transaction_Date,Transaction_Type,Amount,Loan_Status,Credit_Score,year,month,day,age_group,amount_levl,Txn_Flow
0,11177,Male,59,East,Current,2024-12-31,Withdrawal,0.0,Approved,460,2024,12,31,middle_age,low,Debit
1,14771,Female,21,East,Current,2023-02-16,EMI,76739.0,Rejected,749,2023,2,16,young,high,Debit
2,11091,Female,66,North,Current,2023-09-30,Deposit,66039.0,Rejected,490,2023,9,30,senior,high,Credit
3,14818,Female,24,North,Current,2023-06-11,Withdrawal,50101.0,Rejected,431,2023,6,11,young,high,Debit
4,14376,Male,34,West,Current,2023-05-26,EMI,35319.0,Rejected,315,2023,5,26,adult,medium,Debit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5145,14427,Male,67,0,Current,2024-05-13,Withdrawal,62609.0,Rejected,856,2024,5,13,senior,high,Debit
5146,10467,Female,34,0,Current,2024-10-03,EMI,25459.0,Approved,506,2024,10,3,adult,medium,Debit
5147,13093,Male,56,South,Savings,2023-10-20,Loan,34749.0,Rejected,593,2023,10,20,middle_age,medium,Credit
5148,13773,Female,43,North,Savings,2023-02-20,Loan,15897.0,Approved,870,2023,2,20,middle_age,medium,Credit
5149,10861,Female,40,North,Current,2023-07-08,Withdrawal,90443.0,Rejected,367,2023,7,8,adult,high,Debit

In [34]:
#Add Region_Encoded (Label Encoding)
df['Region_Encoded'] = df['Region'].astype('category').cat.codes
df

,Customer_ID,Gender,Age,Region,Account_Type,Transaction_Date,Transaction_Type,Amount,Loan_Status,Credit_Score,year,month,day,age_group,amount_levl,Txn_Flow,Region_Encoded
0,11177,Male,59,East,Current,2024-12-31,Withdrawal,0.0,Approved,460,2024,12,31,middle_age,low,Debit,1
1,14771,Female,21,East,Current,2023-02-16,EMI,76739.0,Rejected,749,2023,2,16,young,high,Debit,1
2,11091,Female,66,North,Current,2023-09-30,Deposit,66039.0,Rejected,490,2023,9,30,senior,high,Credit,2
3,14818,Female,24,North,Current,2023-06-11,Withdrawal,50101.0,Rejected,431,2023,6,11,young,high,Debit,2
4,14376,Male,34,West,Current,2023-05-26,EMI,35319.0,Rejected,315,2023,5,26,adult,medium,Debit,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5145,14427,Male,67,0,Current,2024-05-13,Withdrawal,62609.0,Rejected,856,2024,5,13,senior,high,Debit,0
5146,10467,Female,34,0,Current,2024-10-03,EMI,25459.0,Approved,506,2024,10,3,adult,medium,Debit,0
5147,13093,Male,56,South,Savings,2023-10-20,Loan,34749.0,Rejected,593,2023,10,20,middle_age,medium,Credit,3
5148,13773,Female,43,North,Savings,2023-02-20,Loan,15897.0,Approved,870,2023,2,20,middle_age,medium,Credit,2
5149,10861,Female,40,North,Current,2023-07-08,Withdrawal,90443.0,Rejected,367,2023,7,8,adult,high,Debit,2

In [35]:
#Total Transaction Amount by Region
region_amount = df.groupby('Region')['Amount'].sum()
print(region_amount)

Region
0        12383524.0
East     57971222.0
North    57653009.0
South    56262429.0
West     53628928.0
Name: Amount, dtype: float64

In [36]:
#Count of Loan Status
print(df['Loan_Status'].value_counts())

Loan_Status
Approved    1696
Default     1538
Rejected    1516
0            250
Name: count, dtype: int64

In [37]:
#Average Amount by Account Type
avg_amt = df.groupby('Account_Type')['Amount'].mean()
print(avg_amt)

Account_Type
Current    46717.764637
Savings    48473.483096
Name: Amount, dtype: float64

In [42]:
#Monthly Transaction Count
monthly_txn = df.groupby(['year', 'month']).size()
monthly_txn

year  month
2023  1        212
      2        190
      3        225
      4        205
      5        206
      6        203
      7        217
      8        227
      9        226
      10       217
      11       185
      12       193
2024  1        214
      2        205
      3        199
      4        184
      5        200
      6        223
      7        192
      8        210
      9        197
      10       243
      11       196
      12       231
dtype: int64

In [41]:
#Top 10 Highest Transactions
top10=df.nlargest(10, "Amount")
top10

,Customer_ID,Gender,Age,Region,Account_Type,Transaction_Date,Transaction_Type,Amount,Loan_Status,Credit_Score,year,month,day,age_group,amount_levl,Txn_Flow,Region_Encoded
1902,10125,Male,38,North,Savings,2024-05-30,EMI,99987.0,0,669,2024,5,30,adult,high,Debit,2
659,13842,Male,41,0,Savings,2023-11-08,EMI,99960.0,Rejected,376,2023,11,8,middle_age,high,Debit,0
1389,13380,Female,61,West,Current,2024-03-21,Withdrawal,99903.0,Rejected,872,2024,3,21,senior,high,Debit,4
989,10842,Female,31,East,Savings,2024-03-15,EMI,99901.0,Rejected,558,2024,3,15,adult,high,Debit,1
2689,10773,Male,21,North,Current,2023-04-20,Deposit,99893.0,Default,531,2023,4,20,young,high,Credit,2
4442,14124,Female,61,0,Savings,2023-04-17,Loan,99808.0,Rejected,688,2023,4,17,senior,high,Credit,0
2135,11643,Male,69,South,Savings,2023-12-29,Deposit,99777.0,Approved,705,2023,12,29,senior,high,Credit,3
3045,13755,Female,32,West,Savings,2024-04-03,Loan,99760.0,Default,555,2024,4,3,adult,high,Credit,4
2603,12326,Male,33,South,Savings,2024-01-31,Withdrawal,99754.0,Rejected,416,2024,1,31,adult,high,Debit,3
911,13255,Female,36,0,Savings,2023-02-22,Withdrawal,99698.0,Approved,465,2023,2,22,adult,high,Debit,0

In [44]:
df.to_csv("cleaned_financial1_dataset.csv", index=False)
print("\n CLEANED DATA SAVED AS cleaned_financial1_dataset.csv")

 CLEANED DATA SAVED AS cleaned_financial1_dataset.csv